.education-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.education-section > h2 {
  font-size: 3rem;
}

.educations-container {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  gap: 5rem;
}

.hr {
  width: 80%;
  border: 1px solid rgba(0, 113, 243, 1);
}
